'fileTypes': [
  'CMakeLists.txt.em'
  'cmake.em'
]
'name': 'EmPy CMake'
'patterns': [
  {
    'include': 'source.empy'
  }
  {
    'comment': 'CMake source'
    'include': 'source.cmake'
  }
]
'scopeName': 'source.empy.cmake'
