'fileTypes': [
  'atom.em'
  'axml.em'
  'bpmn.em'
  'config.em'
  'cpt.em'
  'csl.em'
  'csproj.em'
  'csproj.user.em'
  'dae.em'
  'dita.em'
  'ditamap.em'
  'dtml.em'
  'fsproj.em'
  'fxml.em'
  'gpx.em'
  'icls.em'
  'iml.em'
  'isml.em'
  'jmx.em'
  'jsp.em'
  'launch.em'
  'menu.em'
  'mxml.em'
  'nuspec.em'
  'opml.em'
  'owl.em'
  'proj.em'
  'pt.em'
  'pubxml.em'
  'pubxml.user.em'
  'rdf.em'
  'rng.em'
  'rss.em'
  'shproj.em'
  'storyboard.em'
  'svg.em'
  'targets.em'
  'tld.em'
  'vbproj.em'
  'vbproj.user.em'
  'vcproj.em'
  'vcproj.filters.em'
  'vcxproj.em'
  'vcxproj.filters.em'
  'wsdl.em'
  'xaml.em'
  'xbl.em'
  'xib.em'
  'xlf.em'
  'xliff.em'
  'xml.em'
  'xpdl.em'
  'xsd.em'
  'xul.em'
]
'name': 'EmPy XML'
'patterns': [
  {
    'include': 'source.empy'
  }
  {
    'comment': 'XML text'
    'include': 'text.xml'
  }
]
'scopeName': 'source.empy.xml'
